[submodule "third_party/audiotee"]
	path = third_party/audiotee
	url = https://github.com/makeusabrew/audiotee.git
[submodule "third_party/libraop"]
	path = third_party/libraop
	url = https://github.com/philippe44/libraop.git
